<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>已发送的邮件</title>

    <!--data table-->
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

    <div th:insert="~{common::#headscript}"></div>
</head>

<body class="sticky-header">

<section>
    <div th:insert="~{common::#leftmenu}"></div>

    <!-- main content start-->
    <div class="main-content" >

        <div th:insert="~{common::#headmenu}"></div>


        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                已发送的邮件
            </h3>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            邮件
                            <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                     </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table editable-table ">
                                <form th:action="@{/email_write}" method="get">
                                    <div class="btn-group">
                                        <button id="editable-sample_new" class="btn btn-primary">
                                            添加新的邮件 <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </form>
                                <div class="space15"></div>
                                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>邮件主题</th>
                                        <th>接收人</th>
                                        <th>时间</th>
                                        <th>详情</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="" th:each="email,stats:${emails}">
                                        <td th:text="${stats.count}"></td>
                                        <td th:text="${email.m_subject}"></td>
                                        <td th:text="${email.m_to}"></td>
                                        <td th:text="${#dates.format(email.m_time,'yyy-MM-dd HH:mm:ss')}"></td>
                                        <td><a class="edit" name="" th:href="@{'/check_detail_send'(m_id=${email.m_id})}">查看</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2014 &copy; AdminEx by ThemeBucket
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>



<!--data table-->
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

<div th:insert="~{common::#commonscript}"></div>

<!--script for editable table-->
<script src="js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>

</body>
</html>
